@import "src/styles/colors.scss";

.rate-banner {
  position: relative;
  height: 19px;
  max-width: 125px;
  margin-bottom: 4px;
  padding: 2px 0 2px 5px;
  background: linear-gradient(235.34deg, $color-light-orange 19.27%, $color-orange 100%);
  border-radius: 2px;

  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 9.5px solid transparent;
    border-right: 8px solid $color-white;
    border-bottom: 9.5px solid transparent;
    border-radius: inherit;
  }
}
