@import "src/styles/colors.scss";

.button {
  min-height: 50px;
  width: 100%;
  border-radius: 100px;
  padding-bottom: 3px;

  background: $color-red;
  color: $color-white;

  font-size: 22.5px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  text-align: center;
}
