// Colors variables
$color-white: #FFFFFF;
$color-black: #030303;
$color-dark-black: #000000;
$color-red: #F24E5D;
$color-gray: #D8D8D8;
$color-dark-gray: #A8A8A8;
$color-pink: #F66672;
$color-dark-pink: #F32567;
$color-light-pink: #F0E4EA;
$color-orange: #FFD029;
$color-light-orange: #FFE073;
