@import "styles/colors.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  color: $color-black;
}

button {
  border: none;
  outline: none;
  background: transparent;
  text-align: inherit;
}

h1 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.41px;
}
